In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('/Users/jordanharris/Code/data_engineering_zoomcamp/module_1/2_docker_sql/yellow_tripdata_2021-01.csv', nrows= 300)

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2,2021-01-01 00:28:41,2021-01-01 00:43:22,1,5.44,1,N,79,236,1,18.0,0.5,0.5,2.00,0.00,0.3,23.80,2.5
296,2,2021-01-01 00:49:07,2021-01-01 00:51:44,1,0.98,1,N,43,142,1,5.0,0.5,0.5,1.76,0.00,0.3,10.56,2.5
297,2,2021-01-01 00:24:52,2021-01-01 00:30:20,3,1.08,1,N,230,142,2,6.0,0.5,0.5,0.00,0.00,0.3,9.80,2.5
298,2,2021-01-01 00:38:55,2021-01-01 01:21:47,1,33.18,1,N,91,240,1,86.5,0.5,0.5,2.75,6.12,0.3,96.67,0.0
299,2,2021-01-01 00:39:33,2021-01-01 00:47:49,1,2.41,1,N,161,145,2,9.5,0.5,0.5,0.00,6.12,0.3,19.42,2.5

In [5]:
pd.io.sql.get_schema(df, name="yellow_taxi_data")

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "RatecodeID" INTEGER,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
#the reals should be decimal

In [7]:
!pip install sqlalchemy
!pip install psycopg2-binary
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in /opt/homebrew/Caskroom/miniforge/base/envs/zoomcamp/lib/python3.10/site-packages (2.0.40)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/Caskroom/miniforge/base/envs/zoomcamp/lib/python3.10/site-packages (from sqlalchemy) (4.13.2)
Requirement already satisfied: psycopg2-binary in /opt/homebrew/Caskroom/miniforge/base/envs/zoomcamp/lib/python3.10/site-packages (2.9.10)

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv('/Users/jordanharris/Code/data_engineering_zoomcamp/module_1/2_docker_sql/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [12]:
df = next(df_iter)

In [13]:
len(df)

100000

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
#just for the column names

0

In [16]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.88 s, sys: 192 ms, total: 5.07 s
Wall time: 8.05 s

1000

In [17]:
from time import time

In [18]:
for df in df_iter:
    t_start = time()

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print('inserted another chunk..., it took %.3f seconds' % (t_end - t_start))

inserted another chunk..., it took 7.443 seconds
inserted another chunk..., it took 8.250 seconds
inserted another chunk..., it took 7.818 seconds
inserted another chunk..., it took 7.897 seconds
inserted another chunk..., it took 7.797 seconds
inserted another chunk..., it took 8.259 seconds
inserted another chunk..., it took 9.667 seconds
inserted another chunk..., it took 7.933 seconds
inserted another chunk..., it took 7.677 seconds
inserted another chunk..., it took 7.956 seconds
inserted another chunk..., it took 8.340 seconds

/var/folders/_r/_94p_t6s1933ynymfxl25_7h0000gn/T/ipykernel_7615/4266317178.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted another chunk..., it took 7.623 seconds
inserted another chunk..., it took 4.843 seconds